<br>
<section class="about" id="about">

    <h1> what makes our coffee special?  </h1>

    <div class="row">
        <img src="assets/images/15.jpg" height="100%" width="100%" alt="">
            <br>
        <div class="content">
            <img src="assets/images/1.png" height="200px" width="200px" alt="">
            <h3>quality coffee</h3>
            <p>
                Needless to say, it all starts with the coffee plant itself. Coffee, like wine, has many types of varieties,
                but just like wine, some are more popular than others. The most commercially available coffees are Arabica and Robusta, 
                and within those two broad categories of coffee you have hundreds of sub-varieties and hybrids (more on that some other time). 
                While Specialty Robustas (referred to as “Fine Robustas”) are an emerging segment of the coffee industry, it is generally agreed that 
                Arabica coffee varieties are the only ones that can currently achieve specialty status. This is because Arabica coffees tend to have more
                delicate notes and pleasant acidities compared to Robusta’s more vegetable and bitter notes.</p>
    
                <img src="assets/images/pexels-aleksandar-pasaric-2711959.jpg" height="200px" width="200px" alt="">
                <h3>Roasting</h3>
                <p>
                    You’ve got your specialty-grade coffee beans, now we need to roast them to
                    make that coffee brew we all know and love. Enter the Speciality Coffee roaster. 
                    Normally, Speciality Coffees are roasted lighter than commercial coffees to keep as
                    much of the flavour of the beans as possible. Darker roasts burn off bad flavours in the coffee, 
                    but they also burn off the good ones. Given that specialty-grade beans go through rigorous quality controls
                    at every stage of the production process , a good roaster shouldn’t over-roast his beans, in order to preserve those lovely aromas. 
                    Even if a roastery bought specialty-grade green coffee beans, if it’s not roasted properly, a cupping by a Q-grader would likely downgrade the quality of the coffee. </p>
            </div>
    </div>

</section>