<body>
	<div class="main">
        <div class="section-title">
            <h2>our menu</h2>
            <p>The best coffee is the one you like the most.</p>
        </div>
        <div class="menus">
            <div class="menu-column">
                <h4>Hot Classics</h4>
                <div class="single-menu">
                    <img src="assets/images/6.png" alt="">
                    <div class="menu-content">
                        <h5> Caffè mocha<span>&#8377;225</span></h5>
                        <p>Chocolate-flavoured</p>
                    </div>
                </div>
                <div class="single-menu">
                    <img src="assets/images/7.png" alt="">
                    <div class="menu-content">
                        <h5>Espresso <span>&#8377;150</span></h5>
                        <p>Finely-ground coffee beans.</p>
                    </div>
                </div>
                <div class="single-menu">
                    <img src="assets/images/8.png" alt="">
                    <div class="menu-content">
                        <h5>Cappuccino <span>&#8377;170</span></h5>
                        <p>Flavoring with cinnamon or chocolate powder.</p>
                    </div>
                </div>
            </div>
            <div class="menu-column">
                <h4>Cold Classics</h4>
                <div class="single-menu">
                    <img src="assets/images/9.png" alt="">
                    <div class="menu-content">
                        <h5>Iced Caffè Latte<span>&#8377;255</span></h5>
                        <p>A shot of espresso, and cold milk.</p>
                    </div>
                </div>
                <div class="single-menu">
                    <img src="assets/images/10.png" alt="">
                    <div class="menu-content">
                        <h5>Creamy Iced Coffee <span>&#8377;300</span></h5>
                        <p>Adding heavy cream.</p>
                    </div>
                </div>
                <div class="single-menu">
                    <img src="assets/images/11.png" alt="">
                    <div class="menu-content">
                        <h5>Iced Americano <span>&#8377;275</span></h5>
                        <p>made by pouring cold water, over ice followed by shots of espresso.</p>
                    </div>
                </div>
            </div>
            <div class="menu-column">
                <h4>Indulge Coffee</h4>
                <div class="single-menu">
                    <img src="assets/images/12.png" alt="">
                    <div class="menu-content">
                        <h5>Coffee Frappe <span>&#8377;350</span></h5>
                        <p>sweet iced coffee blended with milk and espresso.</p>
                    </div>
                </div>
                <div class="single-menu">
                    <img src="assets/images/12.jpg" alt="">
                    <div class="menu-content">
                        <h5>Barista Blast <span>&#8377;325</span></h5>
                        <p>Combine the strong coffee, milk and sugar.</p>
                    </div>
                </div>
                <div class="single-menu">
                    <img src="assets/images/13.jpg" alt="">
                    <div class="menu-content">
                        <h5>Barista Caramello <span>&#8377;325</span></h5>
                        <p>Caramel Syrup 1 shot espresso steamed milk..</p>
                    </div>
                </div>
                
                </div>
            </div>
        </div>
    
<a href="home"><input type="submit" value="Home" class="btn"></a>
</body>
