<body>


    <div class="container">
    
        <form action="app/app.component.html">
    
            <div class="row">
    
                <div class="col">
    
                    <h3 class="title">Franchise with us</h3>
    
                    <div class="inputBox">
                        <span>Full name :</span>
                        <input type="text" placeholder="Full name">
                    </div>
                    <div class="inputBox">
                        <span>email :</span>
                        <input type="email" placeholder="abc@example.com">
                    </div>
                    <div class="inputBox">
                        <span>address :</span>
                        <input type="text" placeholder="room - street - locality">
                    </div>
                    <div class="inputBox">
                        <span>city :</span>
                        <input type="text" placeholder="vijayawada">
                    </div>
    
                    <div class="flex">
                        <div class="inputBox">
                            <span>state :</span>
                            <input type="text" placeholder="india">
                        </div>
                        <div class="inputBox">
                            <span>zip code :</span>
                            <input type="text" placeholder="123456">
                        </div>
                    </div>
    
                </div>
    
                <div class="col">
    
                    <h3 class="title">Experience in any business</h3>
    
                   
                    <div class="inputBox">
                        <span>Type of the business :</span>
                        <input type="text" placeholder=" shopping, food, etc., ">
                    </div>
                    <div class="inputBox">
                        <span>locality of business :</span>
                        <input type="text" placeholder="main road,streets, etc.,">
                    </div>
                    <div class="inputBox">
                        <span>DO YOU OWN AN EXISTING COMMERCIAL SPACE?:</span>
                        <input type="text" placeholder="Yes/No">
                    </div>
    
                    <div class="flex">
                        <div class="inputBox">
                            <span>If Yes :</span>
                            <input type="text" placeholder="Describe Shop Location">
                        </div>
                        
                    </div>
    
                </div>
        
            </div>
    
    <a href="home"><input type="submit" value="Submit Form" class="btn"></a>
        </form>
    
    </div>    
        
    </body>